.button{
    display: inline-block;
    padding: 10px 30px;
    margin: 10px;
    font-size: 17;
    background-color: aquamarine;
    border-radius: 8px;
    width: 100px;
    &--secondary{
        background-color: beige;
        color: black;
    }
}